<!DOCTYPE html>
<html ng-app="">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/accueil.css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <title>Webint </title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="js/jquery.stickybar.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(function() {
        $('#sticky').stickyBar({
            top: 10
        });
    });
    </script>
    <script type="text/javascript">
    $(function() {
        $('#sticky2').stickyBar({
            top: 5
        });
    });
    </script>

    <style type="text/css">
    #banniere_image {
        margin-top: 1%;
        height: 300px;
        border-radius: 10px;
        position: relative;
        box-shadow: 6px 6px 6px 8px #1c1a19;
        margin-bottom: 25px;
    }
    </style>

</head>

<!--[if IE 6 ]><body class="ie6 old_ie"><![endif]-->
<!--[if IE 7 ]><body class="ie7 old_ie"><![endif]-->
<!--[if IE 8 ]><body class="ie8"><![endif]-->
<!--[if IE 9 ]><body class="ie9"><![endif]-->
<!--[if !IE]><!-->

<body>
    <!--<![endif]-->
    <div id="bloc_page">
        <header>
            <div id="bloc_page">


                <div id="titre_principal">
                    <h1>WebInt Lab </h1>
                    <h2>Hassen Hichri, chebaane radhwane</h2>
                </div>
            </div>
            <br>
            <br>
            <nav id="menu">
                <ul>
                    <li><a href="#home_arcticle">Home</a>
                    </li>
                    <li><a href="#">Works</a>
                        <ul class="sous_menu">
                            <li><a href="index.php?page=presentation">Work1</a>
                            </li>
                            <li><a href="index.php?page=about">Work2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#about_arcticle">About</a>
                    </li>
                </ul>
            </nav>
            <br>
            <br>
            <br>
        </header>

        <param name="WMODE" value="transparent">
        </param>
        <section>
            <aside>
                <div id="sticky">
                    <div class="box">
                        <h1>Archive</h1>
                        <nav>
                            <ul id="archive">
                                <li><a href="#post1">January 2015</a>
                                </li>
                                <br>
                                <li><a href="#post2">December 2014</a>
                                </li>
                                <br>
                                <br>
                            </ul>
                        </nav>
                    </div>
                    <div class="box">
                        <h1>Categories</h1>
                        <nav>
                            <ul id="archive">
                                <li><a href="#post1">Food</a>
                                </li>
                                <br>
                                <li><a href="#post2">Games</a>
                                </li>
                                <br>
                                <br>
                            </ul>
                        </nav>
                    </div>
                </div>
            </aside>
            <div id="articles">
                <article>
                    <h1><img src="img/pin.png" style="vertical-align: middle; margin-right: 2%;" alt="" class="ico_categorie" />titre</h1>
                    <br>
                </article>
                <article id="Map_article">
                    <h1><img src="img/pin.png" style="vertical-align: middle; margin-right: 2%;"    alt="" class="ico_categorie" />Map</h1>
                    <!-- <div ng-controller="MapController"> -->
                    <div>
                        <form class="simple-form">
                            Street:
                            <input type="text" id="street" name="street" ng-model="coord.street" />
                            <br /> City:
                            <input type="text" id="city" name="city" ng-model="coord.city" />
                            <br /> zip:
                            <input type="number" id="zip" name="zip" ng-model="coord.zip" />
                            <br/>Country:
                            <input type="text" id="country" name="country" ng-model="coord.country" value="France" />
                            <br />
                            <input type="button" id="resetMap" onclick="reset()" value="Reset" />
                            <input type="button" id='setMap' value="Set" />
                        </form>
                    </div>
                </article>
                <article>
                    <h1><img src="img/pin.png" style="vertical-align: middle; margin-right: 2%;" alt="" class="ico_categorie" />Form</h1>

                    <br>
                    <form id="contact-form" action="" method="post">
                        <ul>
                            <li>
                                <label for="firstname">First Name:</label>
                                <input type="text" name="name" id="name" value="" />
                            </li>
                            <li>
                                <label for="lastname">Last Name:</label>
                                <input type="text" name="name" id="name" value="" />
                            </li>
                            <li>
                                <label for="email">Email:</label>
                                <input type="email" name="email" id="email" value="" />
                            </li>
                            <li>
                                <label for="telnum">Phone Number:</label>
                                <input type="tel" name="tel" id="telnum" value="" />
                            </li>
                            <li>
                                <input type="submit" value="submit" />
                            </li>
                        </ul>
                    </form>
                </article>
            </div>
        </section>
        <footer>
            <p id="inline">
                <h1>&copy; Fall 2014 Eurecom </h1>
            </p>
            <br>
        </footer>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src='js/geolocalisation.js'></script>
        <script type="text/javascript" src='js/Mapcontroller.js'></script>
</body>

</html>
